div.checkthat {
	background:#114085;
	cursor:pointer;
	display:inline-block;
	height:20px;
	text-align:center;
	vertical-align:middle;
	width:20px;
}

div.checkthat-checkbox {
	border-radius:0;
}

div.checkthat-radio {
	border-radius:50%;
}

input.checkthat-input {
	display:none;
}

i.checkthat-icon {
	color:#FEFFFF;
	font-size:13px;
	line-height:20px;
}

input.checkthat-input:not(:checked) + i.checkthat-icon {
	display:none;
}